extends ../layout.pug

block content
    .row.mt-4
        .col-12
            .card
                .card-header
                    span Private
                .card-body
                    form.col-12.mb-4(action="/private" method="GET")
                        .input-group
                            input.form-control(name="q" placeholder="Search...")
                            .input-group-append
                                    button.btn.btn-secondary(type="submit")
                                        span.fas.fa-search
                    .row
                        .col-9.overflow
                            .row
                                each video in videos
                                    .card.col-4
                                        a.btn.btn-secondary(href=video.video.url)
                                            if local
                                                .card-header=video.video.title
                                            else 
                                                .card-header.bg-danger=video.video.title
                                            img.card-img-top(src=video.video.thumb)
                        .col-3
                            .row.float-right.col-12.pb-4
                                ul.list-group.col-12
                                    li.list-group-item
                                        h4.text-center External Sites
                                    li.list-group-item
                                        a.btn.btn-danger.col-12(href="https://eporner.com") Eporner
                                    li.list-group-item
                                        a.btn.btn-danger.col-12(href="https://HQPorner.com") HQporner
                                    li.list-group-item
                                        a.btn.btn-danger.col-12(href="https://Pornhub.com") Pornhub
                            .row.float-right.col-12.text-center
                                h4.mb-4.col-6 Local Files
                                ul.list-group.col-12
                                    each file in files 
                                        li.list-group-item
                                            a.btn.btn-danger.col-12(href="/vids/" + file)=file