extends ./layout.pug

block content
    .card-body
        h4.mt-4 To-Do
        table.table
            thead
                tr
                    th Task Name
                    th Class
                    th Due Date
                    th.text-center Actions
            tbody
                each task in tasks
                    if !task.completed
                        tr
                            td.pt-4=task.name
                            td.pt-4=task.class
                            td.pt-4 #{(task.due.getUTCMonth() + 1) + '/' + task.due.getUTCDate() + '/' + task.due.getFullYear()}
                            td.text-right.text-center
                                a.m-2.btn.btn-sm.btn-danger(href="/tasks/delete/" + task._id)
                                    span.fas.fa-times
                                a.btn.btn-sm.btn-success(href="/tasks/complete/" + task._id)
                                    span.fas.fa-check
        form.mb-4.col-12(action="/tasks/create" method="GET")
            .form-row
                .col-12.mb-2
                    .input-group
                        input.form-control(type="text" placeholder="Task Name" name="name")
                .col-6
                    select.custom-select(name="class")
                        option(selected) None
                        each _class in classes
                            option(value=_class.short_name)=_class.name
                .col-5
                    input.form-control(name="due_date" type="date" value=new Date().toISOString().substr(0, 10))
                .col-1
                    button.btn.btn-md.btn-secondary.col-12(type="submit")
                            span.fas.fa-plus
        h4.mt-4 Recently Completed
        table.table.table-fixed
                each task in tasks
                    if task.completed
                        tr
                            td.col-10=task.name
                                p.text-dark=task.class
                            td.col-2
                                a.btn.btn-secondary.float-right(href="/tasks/delete/" + task._id)
                                    span.fas.fa-times
    